<form action='/bookmarks' method='post'>
  <input type='text' placeholder='Your url here' name="add_link">
  <input type='text' placeholder='Your title here' name="add_title">
  <input type='submit' value='submit'>
</form>
