<ul>
  <% @list.each do |bookmark| %>
  <li>
    <a href="<%= bookmark.url %>">
    <%= bookmark.title %>
    </a>
  </li>
  <% end %>
</ul>

<form action='/add_bookmark'>
  <input class="btn" type ="submit" id="add_bookmark" value="Add a bookmark">
</form>

<!-- <button type="button" onClick="location.href='/add_bookmark'" name="add">Add new bookmark</button> -->

<!-- <form action='/delete_bookmark'>
  <input class="btn" type ="submit" id="delete_bookmark" value="Delete a bookmark">
</form> -->
