<%= @list %>

<form action='/add_bookmark'>
  <input class="btn" type ="submit" id="add_bookmark" value="Add a bookmark">
</form>

<form action='/delete_bookmark'>
  <input class="btn" type ="submit" id="delete_bookmark" value="Delete a bookmark">
</form>
